<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<link href='../static/css/main.css' rel='stylesheet' />
<script src='../static/js/main.js'></script>
<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
      },
      initialDate: '2018-01-05',
      navLinks: true,
      businessHours: true, 
      editable: true,
      selectable: true,
      dayMaxEvents: true,
      events: [
              {% for i in range(total) %}
                  {
                  title: '{{ qu[i].Sub }}',
                  start: '{{ qu[i].StartDate }}',
                  end: '{{ qu[i].EndDate }}',
                    {% if qu[i].State == 'In Coming' %}
                        color: '#0B14D9',
                    {% elif qu[i].State == 'On Going' %}
                        color: '#257e4a',
                    {% else %}
                        color: '#D90B37',
                    {% endif %}
          constraint: '1',
                  },
                  { 
                    groupId: '1',
                    start: '2017-09-04T10:00:00',
                    end: '2017-09-05T10:00:00',
                    display: 'background'
                  },
              {% endfor %}
      ]
    });

    calendar.render();
  });

</script>
<style>

  body {
    margin: 40px 10px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 1100px;
    margin: 0 auto;
  }

</style>
</head>
<body>
    
  <div ></div>
  <div id='calendar'></div>
  

</body>
</html>
