<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>遠傳NT工單匯入系統</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="../static/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("a").click(function () {
                var _this = $(this).attr("href");
                if ($(_this).css("display") == "none") {
                    $(_this).slideDown();
                    $(this).html("-");
                } else {
                    $(_this).slideUp();
                    $(this).html("+");
                }
                return false;
            });
        });   
        function che() {
            var msg = "確定要更新嗎？";
            if (confirm(msg)==true){
                return true
            }else{
                return false
                }
            }
        function showReg(){
          document.getElementById("Reg").style.display='block';
          fade.style.display='block';
        };
        function closeReg(){
          document.getElementById("Reg").style.display='none';
          fade.style.display='none';
        };  
        function showAddnt(){
          document.getElementById("nt").style.display='block';
          fade.style.display='block';
        };
        function closeAddnt(){
          document.getElementById("nt").style.display='none';
          fade.style.display='none';
        };  
    </script>
<script>
function chN() {
    var name = document.getElementById("Rname").value;
    if(name == ""){
        document.getElementById("chname").innerHTML="<font color='red'>姓名不能為空白</font>";
    }else{
        document.getElementById("chname").innerHTML="";
    }
};
function chM() {
    var mail = document.getElementById("Rmail").value;
    emailRule = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/;
    if(mail.search(emailRule) == -1){
        document.getElementById("chmail").innerHTML="<font color='red'>信箱格式錯誤</font>";
    }else{
        document.getElementById("chmail").innerHTML="";
    }
};
function validate() {
    var pwd1 = document.getElementById("Rpass").value;
    var pwd2 = document.getElementById("chRpass").value;
    if(pwd1 != pwd2){
       document.getElementById("tishi").innerHTML="<font color='red'>兩次密碼不相同</font>";
     }else{
        document.getElementById("tishi").innerHTML="";
     }
};

function cheE() {
{% for AD in sad %}
    if(document.getElementById("Rname").value == "{{ AD.Name }}"){
        alert("管理員姓名重複")
        return false
    }
{% endfor %}
    if(document.getElementById("Rname").value == ""){
        alert("姓名不能為空白")
        return false
    }
    if(document.getElementById("chmail").innerHTML == ""){
        alert("信箱不能為空白")
        return false
    }
    if(document.getElementById("chmail").innerHTML != ""){
        alert("信箱格式錯誤")
        return false
    }
    if(document.getElementById("Rpass").value == ""){
        alert("密碼不能為空白")
        return false
    }
    if(document.getElementById("Rpass").value != document.getElementById("chRpass").value){
        alert("兩次密碼不相同")
        return false
    }
    if(document.getElementById("tishi").innerHTML != ""){
        alert("兩次密碼不相同")
        return false
    }
};
function addE() {
{% for user in qu %}
    if(document.getElementById("srid").value == "{{ user.ID }}"){
        alert("SR 編號重複!")
        return false
    }
{% endfor %}
     if(document.getElementById("srid").value == ""){
         alert("SR 編號空白!")
         return false
     }else if(document.getElementById("srsu").value == ""){
         alert("SR 主旨空白!")
         return false
     }else if(document.getElementById("srbi").value == ""){
         alert("SR 開單人空白!")
         return false
     }else if(document.getElementById("srla").value == ""){
         alert("實驗室支援空白!")
         return false
     }else if(document.getElementById("srsta").value == ""){
         alert("預計開始日空白!")
         return false
     }else if(document.getElementById("sren").value == ""){
         alert("預計結束日空白!")
         return false
     }else if(document.getElementById("srde").value == ""){
         alert("SR 開單部門空白!")
         return false
     }else if(document.getElementById("srca").value == ""){
         alert("SR 類別空白!")
         return false
     }else{
         var msg = "確定要新增嗎？";
         if (confirm(msg)==true){
             return true
         }else{
             return false
         }
     }
}
</script>
</head>
<style>
    .page-item.active .page-link {
        background-color: crimson;
        color: aliceblue;
        border-color: crimson;
    }

    .page-link {
        color: black;
    }

    .a {
        color: rgb(0, 0, 0);
    }

    a:not([href]):not([tabindex]):focus,
    a:not([href]):not([tabindex]):hover {
        color: white;
        background-color: rgb(204, 13, 51);
        border-color: rgb(204, 13, 51);
    }

    .table td,.table th {
        vertical-align: inherit;
    }

    #picture {
        width: 100%;
        height: 25vh;
        background-color: crimson;
        margin-bottom: 0px;
    }
    nav{
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
    
  .infoModalReg{
    border: none;
    box-shadow: 0 0px 10px rgb(163, 163, 163);
    position: fixed;
    border-radius:10px;
    top: 10%;
    width: 30%;
    height: auto;
    padding-top: -15px;
    padding: 15px;
    margin: auto;
    background-color: #eee;
    z-index: 20;
    display: none;
    text-align:center;
  }
.infoModalNt{
  border: none;
  box-shadow: 0 0px 10px rgb(163, 163, 163);
  position: fixed;
  border-radius:10px;
  top: 20%;
  width: 1100px;
  height: auto;
  padding-top: -15px;
  padding: 15px;
  margin: auto;
  background-color: #eee;
  z-index: 20;
  display: none;
  text-align:center;
}
  .close{
    position: absolute; 
    top: 5px; 
    right:15px;
    font-size: 30px;
    cursor: pointer;
    z-index:11;
  }
.cont{
  display: flex;
  justify-content: center;
  align-items: center; 
}  
.black_overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 5;
    -moz-opacity: 0.8;
    opacity: .60;
  }
</style>

<body>
    <section id="picture">
        <div class="picture-container" style="margin-top: 30px;">
            <h1>遠傳NT工單匯入系統</h1>
            <h2>FET NT Work Order Import System</h2>
        </div>
    </section>
    <div id="fade" class="black_overlay"></div>
    <div class="container" style="padding-top: 50px; width:80%">
        <div style="float:right; margin-top:-40px; width:80%" >
            <div style="float:left;margin-left:-11%;">
                <form action="/update" style="position:absolute;margin-left:-130px" method="post">
                    <input type="submit" name="cancel" style="height:38px;width:60px;" value="更新">
                </form>
            </div>
            <div style="float:right;">
                <form action="/Mojor" method="post" style="">
                    <button type="submit" class="search-submit"
                    style="height:38px;width:160px;">顯示已勾選的項目</button> 
                </form>
            </div>
            <div style="float:right;padding-right:5px">
                <input type="button" class="search-submit" style="height:38px;width:140px;" onclick="showReg();" value="管理員帳號維護">
            </div>
            <div class="cont">
                <div id="Reg" class="infoModalReg">
                    <div onclick="closeReg();" class="close">X</div>
                    <form method="post" action="/register">
                      <label style="color:#808080;">管理員帳號維護</label><br/><br/>
                      <label style="color:#808080;">管理員姓名</label>
                      <input type="text" style="border-radius:10px;" Name="Rname" id="Rname" onkeyup="chN()">
                      <span id="chname"></span><br/><br/>
                      <label style="color:#808080;">管理員信箱</label>
                      <input type="text" style="border-radius:10px;" Name="Rmail" id="Rmail" onkeyup="chM()">
                      <span id="chmail"></span><br/><br/>
                      <label style="color:#808080;">管理員密碼</label>
                      <input type="password" style="border-radius:10px;" Name="Rpass" id="Rpass"><br/><br/>
                      <label style="color:#808080;">確定密碼</label>
                      <input type="password" style="border-radius:10px;" Name="Rpass" id="chRpass" onkeyup="validate()">
                      <span id="tishi"></span><br/><br/>
                      <input type="submit" value="修改" id="go" style="border-radius:10px;" onclick="javascript:return cheE()">
                    </form>
                </div>
            </div>
            <div class="cont">
                <div id="nt" class="infoModalNt">
                    <div onclick="closeAddnt();" class="close">X</div>
                    <form method="post" action="/addnt"><br/>
                      <table style="width: 1100px;">
                        <thead>
                          <tr style="text-align: center;">
                            <th style="text-align: center;" colspan="1">SR 編號</th>
                            <th style="text-align: center;" colspan="5">SR 主旨</th>
                            <th style="text-align: center;" colspan="2">SR 開單人</th>
                            <th style="text-align: center;" colspan="2">實驗室支援</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr style="text-align: center;">
                            <td style="text-align: center;" colspan="1"><input type="number" Name="srid" id="srid" placeholder="e.g. 47399"></td>
                            <td style="text-align: center;" colspan="5"><input type="text" Name="srsu" id="srsu"></td>
                            <td style="text-align: center;" colspan="2"><input type="text" Name="srbi" id="srbi"></td>
                            <td style="text-align: center;" colspan="2"><input type="text" Name="srla" id="srla"></td>
                          </tr>
                            <tr style="text-align: center;">
                              <th style="text-align: center;" colspan="3.5">預計開始日</th>
                              <th style="text-align: center;" colspan="3.5">預計結束日</th>
                              <th style="text-align: center;" colspan="3">SR 狀態</th>
                            </tr>
                            <tr style="text-align: center;">
                              <td colspan="3.5"><input type="datetime-local" Name="srsta" id="srsta"></td>
                              <td colspan="3.5"><input type="datetime-local" Name="sren" id="sren"></td>
                              <td colspan="3">
                                <select style="width:55%" Name="srst" id="srst">
                                    <option value="In Coming">In Coming</option>
                                    <option value="On Going">On Going</option>
                                    <option value="Completed">Completed</option>
                                </select>
                              </td>
                            </tr>
                            <tr style="text-align: center;">
                              <th style="text-align: center;" colspan="3.5">SR 開單部門</th>
                              <th style="text-align: center;" colspan="3.5">SR 類別</th>
                              <th style="text-align: center;" colspan="3">優先等級</th>
                            </tr>
                            <tr style="text-align: center;">
                              <td colspan="3.5"><input type="text" Name="srde" id="srde"></td>
                              <td colspan="3.5"><input type="text" Name="srca" id="srca"></td>
                              <td colspan="3">
                                <select style="width:55%" Name="srma" id="srma">
                                    <option value="Major">Major</option>
                                    <option value="Critical">Critical</option>
                                    <option value="Minor">Minor</option>
                                </select>
                              </td>
                            </tr>
                        </tbody>
                      </table><br/>
                      <input type="submit" value="新增" id="go" style="border-radius:10px;" onclick="javascript:return addE()">
                    </form>
                </div>
            </div>
            <div style="float:right;padding-right:5px">
                <form action="/" method="post">
                    <button type="submit" class="search-submit"
                    style="height:38px;width:90px;">行事曆</button> 
                </form>
            </div>
            <div style="float:right;padding-right:5px">
                <input type="button" class="search-submit" style="height:38px;width:120px;" onclick="showAddnt();" value="新增工單項目">
            </div>
            <div style="float:right;padding-right:5px">
                <form action="/search" method="post">
                    <input type="submit" name="cancel" style="height:38px;width:120px;" value="取消搜尋">
                    <input type="txt" cols="40" placeholder="  查詢..."  
                    name="pos" style="height:40px;width:200px;">
                    <button type="submit" class="search-submit"
                    style="height:38px;width:60px;">查詢</button>
                </form>
            </div>
        </div>
        <table class="table table-hover table-responsive" style="width:100%">
            <thead>
                <tr style="background-color: crimson; color: white;">
                    <th>Major</th>
                    
                    <th style="text-align: center;width:10%">SR 編號</th>

                    <th style="text-align: center;width:30%">SR 主旨</th>
                    
                    <th style="text-align: center;width:10%">預計開始日</th>

                    <th style="text-align: center;width:10%">預計結束日</th>

                    <th style="text-align: center;width:15%">SR 開單人</th>
                    
                    <th style="text-align: center;width:15%">實驗室支援</th>

                    <th style="text-align: center;width:10%">細目展開</th>
                </tr>
            </thead>
            <tbody>
                {% for user in qu %}
                {% if pagination.page %}
                <form action="/revise/{{ user.ID }}?page={{ pagination.page }}" method="post">
                {% endif %}
                <tr style="text-align: center;">
                    {% if user.Major == '0' %}
                        <td><input type="checkbox" name="cb" style="width:20px;height:20px;"></td>
                    {% else %}
                        <td><input checked type="checkbox" name="cb" style="width:20px;height:20px;"></td>
                    {% endif %}
                    <td>{{ user.ID }}</td>
                    <td>{{ user.Sub }}</td>
                    <td>{{ user.StartDate }}</td>
                    <td>{{ user.EndDate }}</td>
                    <td>{{ user.CreN }}</td>
                    <td>{{ user.SpN }}</td>
                    <td style="font-size: 20px; "><a style="text-decoration: none;color: rgb(0, 0, 0);" href="#{{ user.ID }}">+</a>
                    </td>
                </tr>
                <tr style="text-align: center;">
                    <td colspan="10" class="content">
                        <div id="{{ user.ID }}" name="ID" style="display:none;">
                            <table style="width: 100%;" class="htm">
                                <h2 style="padding: 25px;">詳細內容</h2>
                                <tr style="color:#FFFFFF;background-color: crimson;">
                                    <th colspan="3.5" style="text-align: center;">預計開始日</th>
                                    <th colspan="3.5" style="text-align: center;">預計結束日</th>
                                    <th colspan="3" style="text-align: center;">SR 狀態</th>
                                </tr>
                                <tr>
                                    <td colspan="3.5">{{ user.StartDate }}</td>
                                    <td colspan="3.5">{{ user.EndDate }}</td>
                                    <td colspan="3">
                                        <select id="sel" name="sel" style="width:55%">
                                            {% if user.State == 'In Coming' %}
                                                <option selected value="In Coming">In Coming</option>
                                                <option value="On Going">On Going</option>
                                                <option value="Completed">Completed</option>
                                            {% elif user.State == 'On Going' %}
                                                <option value="In Coming">In Coming</option>
                                                <option selected value="On Going">On Going</option>
                                                <option value="Completed">Completed</option>
                                            {% else %}
                                                <option value="In Coming">In Coming</option>
                                                <option value="On Going">On Going</option>
                                                <option selected value="Completed">Completed</option>
                                            {% endif %}
                                        </select>
                                    </td>
                                </tr>
                                <tr style="color:#FFFFFF;background-color: crimson;">
                                    <th colspan="3.5" style="text-align: center;">SR 開單部門</th>
                                    <th colspan="3.5" style="text-align: center;">SR 類別</th>
                                    <th colspan="3" style="text-align: center;">優先等級</th>
                                </tr>
                                <tr>
                                    <td colspan="3.5">{{ user.CreWGro }}</td>
                                    <td colspan="3.5">{{ user.SR }}</td>
                                    <td colspan="3">{{ user.CoxT }}</td>
                                </tr>
                                <tr style="color:#FFFFFF;background-color: crimson;">
                                    <th colspan="6" style="text-align: center;">SR 主旨</th>
                                    <th colspan="2" style="text-align: center;">SR 開單人</th>
                                    <th colspan="2" style="text-align: center;">實驗室支援</th>
                                </tr>
                                <tr>
                                    <td colspan="6"><input type="text"  style="width:100%;height:30px;text-align:center;" name="sub" value="{{ user.Sub }}"></td>
                                    <td colspan="2">{{ user.CreN }}</td>
                                    <td colspan="2">{{ user.SpN }}</td>
                                </tr>
                                <tr style="text-align: center;">
                                    <td  colspan="10"><input type="submit" onclick="javascript:return che()" value="更新"></td>
                                    </form>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>          
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-12">
                {{ pagination.links }}
            </div>
        </div>
    </div>
</body>

</html>