<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>遠傳NT工單匯入系統</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="../static/js/jquery.min.js"></script>
    <SCRIPT type="text/javascript">
        $(function () {
            $("a").click(function () {
                var _this = $(this).attr("href");
                if ($(_this).css("display") == "none") {
                    $(_this).slideDown();
                    $(this).html("-");
                } else {
                    $(_this).slideUp();
                    $(this).html("+");
                }
                return false;
            });
        });   
        function che() {
            var msg = "確定要修改嗎？";
            if (confirm(msg)==true){
                return true
            }else{
                return false
                }
            }
        function sel() {
            var ch = document.getElementById("sel");
        }
        function chb() {
            if(checkBox.checked == true){
                
            }
        }
    </SCRIPT>
</head>
<style>
    .page-item.active .page-link {
        background-color: crimson;
        color: aliceblue;
        border-color: crimson;
    }

    .page-link {
        color: black;
    }

    .a {
        color: rgb(0, 0, 0);
    }

    a:not([href]):not([tabindex]):focus,
    a:not([href]):not([tabindex]):hover {
        color: white;
        background-color: rgb(204, 13, 51);
        border-color: rgb(204, 13, 51);
    }

    .table td,.table th {
        vertical-align: inherit;
    }

    #picture {
        width: 100%;
        height: 25vh;
        background-color: crimson;
        margin-bottom: 0px;
    }
    nav{
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
    
</style>

<body>
    <section id="picture">
        <div class="picture-container" style="margin-top: 30px;">
            <h1>遠傳NT工單匯入系統</h1>
            <h2>FET NT work order import system</h2>
        </div>
    </section>
    <div class="container" style="padding-top: 50px; width:80%">
        <div style="float: right; margin-top: -40px;" >
            <form action="/update" style="position:absolute;margin-left:-65px" method="post">
                <input type="submit" name="cancel" style="height:38px;width:60px;" value="更新">
            </form>
            <form action="/search" method="post">
                <input type="submit" name="cancel" style="height:38px;width:120px;" value="取消搜尋">
                <input type="txt" cols="40" placeholder="  查詢..."  
                name="pos" style="height:40px;width:200px;">  
                <button type="submit" class="search-submit"
                style="height:38px;width:60px;">查詢</button> 
            </form>
        </div>
        <table class="table table-hover table-responsive" style="width:100%">
            <thead>
                <tr style="background-color: crimson; color: white;">
                    <th>Major</th>
                    
                    <th style="text-align: center;width:10%">SR 編號</th>

                    <th style="text-align: center;width:30%">SR 主旨</th>
                    
                    <th style="text-align: center;width:10%">預計開始日</th>

                    <th style="text-align: center;width:10%">預計結束日</th>

                    <th style="text-align: center;width:15%">SR 開單人</th>
                    
                    <th style="text-align: center;width:15%">實驗室支援</th>

                    <th style="text-align: center;width:10%">細目展開</th>
                </tr>
            </thead>
            <tbody>
                {% for user in qu %}
                <tr style="text-align: center;">
                    <td><input type="checkbox" name="cb" onclick="chb" style="width:20px;height:20px;"></td>
                    <td>{{ user.ID }}</td>
                    <td>{{ user.Sub }}</td>
                    <td>{{ user.StartDate }}</td>
                    <td>{{ user.EndDate }}</td>
                    <td>{{ user.CreN }}</td>
                    <td>{{ user.SpN }}</td>
                    <td style="font-size: 20px; "><a style="text-decoration: none;color: rgb(0, 0, 0);"
                            href="#{{ user.ID }}">+</a>
                    </td>
                </tr>
                <tr style="text-align: center;">
                    <td colspan="10" class="content">
                    <form action="/revise/{{ user.ID }}" method="post">
                        <div id="{{ user.ID }}" name="ID" style="display:none;">
                            <table style="width: 100%;" class="htm">
                                <h2 style="padding: 25px;">詳細內容</h2>
                                <tr style="color:#FFFFFF;background-color: crimson;">
                                    <th colspan="3.5" style="text-align: center;">預計開始日</th>
                                    <th colspan="3.5" style="text-align: center;">預計結束日</th>
                                    <th colspan="3" style="text-align: center;">SR 狀態</th>
                                </tr>
                                <tr>
                                    <td colspan="3.5"><input type="text"  style="width:70%;height:30px;text-align:center;" name="sd" value="{{ user.StartDate }}"></td>
                                    <td colspan="3.5"><input type="text"  style="width:80%;height:30px;text-align:center;" name="ed" value="{{ user.EndDate }}"></td>
                                    <td colspan="3">
                                        <select id="sel" style="width:55%" onClick="sel()">
                                            <option selected="selected">In Coming</option>
                                            <option>On Going</option>
                                            <option>Completed</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr style="color:#FFFFFF;background-color: crimson;">
                                    <th colspan="3" style="text-align: center;">結案日</th>
                                    <th colspan="3" style="text-align: center;">SR 開單部門</th>
                                    <th colspan="2" style="text-align: center;">SR 類別</th>
                                    <th colspan="2" style="text-align: center;">優先等級</th>
                                </tr>
                                <tr>
                                    <td colspan="3">{{ user.CloseDate }}</td>
                                    <td colspan="3">{{ user.CreWGro }}</td>
                                    <td colspan="2">{{ user.SR }}</td>
                                    <td colspan="2">{{ user.CoxT }}</td>
                                </tr>
                                <tr style="color:#FFFFFF;background-color: crimson;">
                                    <th colspan="6" style="text-align: center;">SR 主旨</th>
                                    <th colspan="2" style="text-align: center;">SR 開單人</th>
                                    <th colspan="2" style="text-align: center;">實驗室支援</th>
                                </tr>
                                <tr>
                                    <td colspan="6"><input type="text"  style="width:100%;height:30px;text-align:center;" name="sub" value="{{ user.Sub }}"></td>
                                    <td colspan="2">{{ user.CreN }}</td>
                                    <td colspan="2">{{ user.SpN }}</td>
                                <tr>
                                </tr>
                                <tr style="text-align: center;">
                                        <td><input type="submit" onclick="javascript:return che()" value="修改"></td>
                                </tr>
                            </table>
                        </div>
                        </form>
                    </td>
                </tr>          
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-12">
                {{ pagination.links }}
            </div>
        </div>
    </div>
</body>

</html>